@section scripts
{
    <script src="@Url.Content("~/Binding/ViewModels/ComicListViewModel.js")" type="text/javascript"></script>
}

<div data-ng-controller="ComicListViewModel">
    <h2>BROWSE COMICS</h2>
    <div ng-show="init && comics.length > 0" class="row">
        <div class="comic-cards-wrapper">
            <div data-ng-repeat="comic in comics">
                <div class="comic-card">
                    <a href="">
                        <img class="" ng-src="{{ comic.coverImage }}" alt="{{ comic.title }}">
                        <p class="comic-card-title">{{ comic.title }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="init && comics.length <= 0">
        <h3>NO RESULTS FOUND.</h3>
    </div>
</div>
