.comic-cards-wrapper {
  clear: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
}

.comic-card {
  display: block;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0;
  position: relative;
}

.comic-card img {
  display: block;
  width: 180px;
  height: 260px;
  overflow: hidden;
}

.comic-card a {
  text-decoration: none;
}

.comic-card-title {
  color: #ffffff;
  font-size: 16px;
  margin-top: 20px;
}